@use "./variables" as *;
@use "./styles/pages/home/home";
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body{
  background-color: $bg-dark;
  font-family: "Poppins", sans-serif;
}
ul li{
  list-style: none;
}
a{
  all: unset;
}